<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Medical_Studio.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
    <userSettings>
        <Medical_Studio.Settings>
            <setting name="VideoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PhotoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
            <setting name="FIO" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="AviCompressorName" serializeAs="String">
                <value />
            </setting>
            <setting name="MediaContainerID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="LastConfigKey" serializeAs="String">
                <value>0_0</value>
            </setting>
        </Medical_Studio.Settings>
    </userSettings>
</configuration>
