<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="WIX_Install_test1" 
           Manufacturer='La-dez'
           Language="1033" 
           Codepage='1252'
           Version="1.0.0.0" 
           UpgradeCode="b7dcb02b-c5ed-479f-ace6-15efe6a3d320">
		<Package Id='*' 
             Keywords='LDZ' 
             Description="LDZ Test Installer"
             Comments='LDZ Comments' 
             Manufacturer='La-dez'
             InstallerVersion="200" 
             Languages='1033' 
             Compressed="yes" 
             SummaryCodepage='1252'
             InstallScope="perMachine" />
    
    <Media Id='23' Cabinet='LDZ_test_cab.cab' EmbedCab='yes' /> <!-- </упаковываем файлы в MSI: да> -->

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		

		<Feature Id="ProductFeature" Title="WIX_Install_test1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir"> <!-- </Это о том, куда устанавливать. Разобраться позже> -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WIX_Install_test1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
