<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!--Desctop Shortcut-->
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="{DFF0D665-F594-478D-8AD7-94EB34FBD727}">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="!(loc.ProductName_$(var.Platform))"
              Target="[INSTALLFOLDER]Medical_Studio.exe"
              WorkingDirectory="INSTALLFOLDER"
              Icon="icon.ico"/>

          <RemoveFolder Id="DesktopFolder" On="uninstall"/>

          <RegistryValue Id="RemoveDecktopIcon"
              Root="HKCU"
              Key="SOFTWARE\!(loc.ProductNameFolder)"
              Name="ShortcutDecktop"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductNameFolder)" />
      </Directory>
      
      <?if $(var.Platform)=x64 ?>
        <!-- Program Files (64bit) folder -->
        <Directory Id="ProgramFiles64Folder">
          <Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
        </Directory>
      <?else?>
        <!-- Program Files (32bit) folder -->
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
        </Directory>
      <?endif?>
            
    </Directory>


  </Fragment>

</Wix>
