<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MedicalStudio" Language="1033" Version="1.0.0.0" Manufacturer="" UpgradeCode="b95a27cf-4810-473b-85a2-fa56510ebd6e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="icon.ico" SourceFile="MedicalStudioLogo_Inst_1.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="WixSetupProject" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <Fragment>
    <Condition Message="This application requires .NET Framework 4.6.1">
      
    </Condition>
  </Fragment>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MedicalStudio" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MedicalStudio"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
